.row{
	background: linear-gradient(#F6FBFF, #D8EAFF);
	padding-top: 5px;
	padding-bottom: 5px;
}

.row h4{
	color: #215487;
}

.carousel-control{
	width: 3% !important;
}

.carousel-control.left,.carousel-control.right {
	background-image:none !important;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{
	left: 0 !important;
	margin-left: -20px !important;
}

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev{
	right: 0 !important;
	margin-right: -20px !important;
}

.title{
	font-size: 14px;
	font-weight: 400;
	color: black;
}

.thumbnail{
	border: none !important;
	min-height: 300px;
	margin-top: 10px;
}

.thumbnail:hover {
	background: linear-gradient(#D8EAFF, white);
	text-decoration: none;
}

.item p{
	color: #CC0000;
	margin: 0px;
}