body{
	font-family: arial;
}

.catalog{
	display: inline-block;
	position: relative;
	white-space: nowrap;
}

.favorite{
	float: left;
	width: 250px;
	white-space: initial;
}

.interests{
	position: relative;
	display: inline-block;
	width: 750px;
	white-space: initial;
}

.header{
	background: linear-gradient(#F6FBFF, #D8EAFF);
	padding: 5px;
	margin-bottom: 10px;
	color: #215487;
}

.products_interests{
	float: left;
	padding: 30px;
}

#products_interests{
	display: flex;
	overflow: hidden;
}

.products_favorite{
	padding: 30px;
}

.products_interests, .products_favorite{
	min-width: 200px;
	padding: 0px 30px 20px 30px;
}

.products_interests *, .products_favorite *{
	text-decoration: none;
}

.product:hover{
	background: linear-gradient(#D8EAFF, white);;
}

.product img{
	width: 90%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
}

.product span{
	display: inline-block;
	padding-bottom: 5px;
	color: darkred;
}

.product h4{
	margin-bottom: 10px;
	color: black;
	font-weight: 400;
}

.btn_previous{
	position: absolute;
	left: 250px;
	top: 50%;
	transform: translate(0, -50%);

	width: 0;
	height: 0;
	border-style: solid;
	border-width: 20px 20px 20px 0;
	border-color: transparent #999b9e transparent transparent;
}

.btn_next{
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(0, -50%);

	width: 0;
	height: 0;
	border-style: solid;
	border-width: 20px 0 20px 20px;
	border-color: transparent transparent transparent #999b9e;
}